.main {
  min-height: 100vh;
  background-color: rgb(var(--main-bg-color));
  padding-bottom: 2rem;
}


@media (min-width: 600px) {
  .col1 {
    padding: 1rem;
  }
}

@media (max-width: 992px) {
  .main{
    padding-top: 70px;
  }
}

@media (min-width: 992px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 9fr;
  }

  .main .col1 {
    height: 100vh;
  }

  .main .content {
    margin-right: .5rem;
  }
}

