.main {
  min-height: 100vh;
  background-color: rgb(var(--main-bg-color), .5);
}

@media (min-width: 992px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1;
    height: 100vh;
    padding-right: 3rem;
  }

  .main > * {
    overflow: auto;
    height: 100%;
  }

  .main > *::nth-child(1) {
    
  }
  
  .main .content {
    /* margin-right: 3rem; */
  }
}

