.main {
  min-height: 100vh;
  padding-bottom: 2rem;
  background: radial-gradient(100% 225% at 100% 0%, rgb(var(--main-theme-color)) 0%, rgb(var(--dark-theme-color)) 100%);
}

.col2 {
  max-width: 2000px;
  grid-column: 2 / 3;
}

@media (min-width: 768px) {
  .col1 {
    padding: 1rem;
  }
}

@media (min-width: 992px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 9fr;
  }

  .main .col2 {
    margin-right: .5rem;
  }
}
